

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    color: rgb(164, 164, 164);
    cursor: pointer;
}

input[type="time"] {
    text-align: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    background-color: rgba(91, 91, 91, 0.475);
    height: 29px;
    padding-top: 7px;
    padding-left: 3px;
    border-radius: 1px;
    cursor: pointer;
}

#res-btn {
    background-color: white;
    border: 2px solid rgb(136, 136, 136);
    border-radius: 3px;
    width: 275px;
    height: 40px;
    color: rgb(136, 136, 136);
    font-size: 20px;
}

#res-btn:hover {
    border-color: #da3743;
    background-color: #da3743;
    color: white;
    cursor: pointer;
}

.num-guests {
    display: grid;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    height: 40px;
    grid-template: 1fr / 1fr 2fr;
    background-color: white;
    border: 1px solid rgba(233, 233, 233, 0.598);
    border-radius: 3px;
    color: rgb(164, 164, 164);
    align-self: center;
    align-items: center;
}

.num-guests span {
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: center;
    height: 38px;
    font-size: 18px;
    color: white;
    font-family: 'Nunito', sans-serif;
    background-color: #24809e;
    border-radius: 3px 0 0 3px;
}

.num-guests input {
    border: none;
    background-color: white;
    width: 180px;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 0 rgb(164, 164, 164);
    font-size: 18px;
}

input:focus {
    outline: none;
}

#booking-feedback {
    display: none;
    position: absolute;
    top: 245px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 50px;
    background-color: white;
    color: darkgray;
    border-left: 6px solid green;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 250ms;
    -webkit-animation: fadeIn 250ms;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding-top: 16px;
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.booking-form-overall {
    height: 1250px;
}

.m-a-r {
    width: 200px;
    height: 100px;
    top: 30px;
    left: 50%;
    margin-left: -100px;
    position: relative;
    font-size: 28px;
    font-family: 'Nunito', sans-serif;
    color: rgb(82, 82, 82);
}

.presets-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 50%;
    position: relative;
    margin-left: -100px;
    width: 200px;
    top: 45px;
}

.mar-preset {
    width: 60px;
    height: 25px;
    border: 1px solid #da3743;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #da3743;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    z-index: 1;
}

.mar-preset:hover {
    color: white;
    background-color: #da3743;

}


