.rest-show {
    height: 1800px;
}

.reserve-btn {
    width: 200px;
    height: 40px;
    border: none;
    position: relative;
    top: 60px;
    background-color: #da3743;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.reserve-btn:hover {
    color: white;
    background-color: #91252c;
}

.reserve-container p {
    position: relative;
    top: 35px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: rgb(143, 143, 143);
}

